app = "rivcomocktrial"
primary_region = "lax"

[build]
  dockerfile = "backend/Dockerfile"

[http_service]
  internal_port = 8090
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"

[mounts]
  source = "pb_data"
  destination = "/pb/pb_data"
